.card{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    justify-self: center;
    top: -1.5rem;

    width: 25rem;
    height: 50rem;
    padding: 0px 20px;

    background-color: var(--cor-principal);
    border: 0.18rem solid var(--cor-complementar);
    border-radius: 1.5rem;

}