.bg{
    background-color: var(--fundo-darkmode);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    justify-self: center;
    top: -25px;

    width: 400px;
    height: 800px;

    background-color: var(--cor-principal);
    border: 3px solid var(--cor-complementar);
    border-radius: 25px;

}