.container_carregamento{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--fundo-darkmode);
}

.hero{
    position: absolute;
    top: 20px;
    width: 100%; 
    z-index: 0;
    mask-image: linear-gradient(to bottom, black 30%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
    opacity: 40%;
}

.container_pg{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.iconeContainer{
    background-color: var(--cor-principal);
    border: 3px solid var(--cor-complementar);
    border-radius: 28px;
}
.iconeContainer{
    height: 10rem;
    width: 10rem;
}