.header{
    display: flex;
    position: fixed;
    align-items: center;

    margin-top: -150px;
    padding-top: 140px;

    width: 100%;
    height: 15rem;

    background-color: #01569A;

    border: 2px solid #068FFF;
    border-radius: 35px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.31)
}
.sidePannel{
    display: flex;
    align-items: center;
    position: absolute;
    color: aliceblue;

    right: 0rem;
}
.gameblog{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--fonte-principal);

    margin-left: 50px;
    margin-right: 70px;
}
.navLinks{
    display: flex;
    align-items: center;
}
.divLink img{
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);

    transition: transform 0.3s ease;
}
.divLink {
    display: flex;
    align-items: center;
    opacity: 100%;
    border-bottom: transparent;
    margin: 0px 10px;

    transition: opacity 0.3s ease;
    transition: border-bottom 0.3s ease;
}

.divLinkActive {
    border-bottom: white solid 2px;
}
.divLinkActive img{
    transform: rotate(0deg);
}
.divLinkUnactive {
    opacity: 50%;
}
.Link {
    color: rgb(255, 255, 255)
}