.div {
    position: relative;
    width: 100%;
}

.campo {
    display: block;
    position: relative;
    border-radius: 18px;
    border: 2px solid #3c6691;
    outline: transparent;

    padding: 0px 15px;

    width: 100%;
    height: 3.2rem;
    box-sizing: border-box;

    font-size: large;
    font-weight: bold;

    color: #0D3D6B;

    box-shadow: -1px 3px 3px 0px rgba(0,0,0,0.31);
}
.label {
    display: flex;
    align-items: center;
    position: absolute;
    color: #0D3D6B;

    opacity: 50%;

    font-weight: bold;

    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    cursor: text;
    pointer-events: none;

    transition: opacity 0.2s ease;
}

.campo:placeholder-shown + .label{
    opacity: 50%;
}
.campo:not(:placeholder-shown) + .label{
    opacity: 0%;
}
.campo:focus + .label{
    opacity: 0%;
}
.campo:focus-visible {
    outline: 2px solid var(--cor-primaria-darkmode);
    outline-offset: 3px;
}

@media (max-width: 430px) {
    .label {
        font-size: 12px;
        left: 12px;
    }

    .campo {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .campo {
        height: 2.9rem;
        font-size: medium;
    }
}

@media (max-width: 344px) {
    .campo {
        height: 2.8rem;
        font-size: medium;
    }
}