:root {
  --fonte-principal: 'Google Sans';
  --cor-primaria: #ffffff;
  --cor-primaria-jogo: rgba(255, 255, 255, 0.49);
  --fundo: #0e0e0e;
  --fundo-gradiente: #2D2D2D;
  --cor-principal: #01569A;
  --cor-complementar: #068fff;
  --cor-index: #0e0e0e;
  --cor-secundaria: #008704;
  --cor-secundaria-selecionado: #006e04;
  --cor-secundaria-complementar: #02a707;
}

/* Light mode sobrescreve as variáveis */
[data-theme="light"] {
  --cor-primaria: #01355f;
  --cor-principal: #01355f;
  --cor-primaria-jogo: rgba(1, 86, 154, 0.5);
  --fundo: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

body {
  background-repeat: no-repeat;
  color: var(--cor-primaria);
  background-color: var(--fundo);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
main {
    padding-top: 120px;
}

@media (max-width: 768px){
    main {
      padding-top: 0px;
     padding-bottom: 100px;
    }
}