.botao{
    border-radius: 30px;
    border: transparent;
}

.darkIcon{
    display: block;
}

.lightIcon{
    display: none;
}

:global([data-theme="light"]) .darkIcon{
    display: none;
}

:global([data-theme="light"]) .lightIcon{
    display: block;
}