.container{
    width: 1000px; /* Precisa ser o mesmo tamanho da largura do video */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    animation: 
        entrar 1s ease;
}
.container p{
    display: inline-block;
    width: 70%;
    margin-top: 0px;
}
.container img{
    border-radius: 20px;
}

@keyframes entrar {
    from {opacity: 0%; transform: translateY(-40px);}
    to {opacity: 100%; transform: translateY(0px);}
}