.container{
    width: 1000px; /* Precisa ser o mesmo tamanho da largura do video */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    animation: 
        entrar 1s ease;
}
.descricaoContainer p{
    display: inline-block;
    margin-top: 0px;
}
.descricaoContainer h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.capa{
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 7px 10px 1px rgb(13 13 13 / 0.66);
}

.categoria{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--cor-primaria);
    color: var(--fundo);
    font-weight: 500;
}

.subContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes entrar {
    from {opacity: 0%; transform: translateY(-40px);}
    to {opacity: 100%; transform: translateY(0px);}
}