.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #232323;
    border: 1px solid #333;

    border-radius: 12px;

    padding: 20px;
}

.card h3 {
    margin: 0;
    font-size: 16px;
}

.card span {
    display: block;

    margin-top: 15px;

    font-size: 42px;
    font-weight: bold;
}