*{
    font-family: google sans, sans-serif;
}

body{
    background-color: #0D0D0D;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;


    text-align: center;
    
    color: #fff;
    width: 400px;
    height: 100vh;

    border-radius: 25px;
    overflow: hidden;

    background-color: #01569A;
}

.accecibitly-hidden{
    visibility: hidden;
}

#login-user{
    display: grid;
    margin: 5rem 2.5rem;
}